<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Iniciar</ion-card-subtitle>
      <ion-card-title> Scan Cedulas </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Presidencia.</p>
    </ion-card-content>
    <ion-button expand='block' margin (click)="goToBarcodeScan()">Leer Cedulas</ion-button>
    <div *ngIf="scannedData">
      <p>
        Scanned Code Text : <b>{{ scannedData["text"] }}</b>
      </p>
      <p>
        Scanned Code Format : <b>{{ scannedData["format"] }}</b>
      </p>
    </div>
  </ion-card>


</ion-content>